# RemoteDataService

## 介绍
RemoteDataService是对jaqs底层dataapi的一个高级封装，提供了一些常用数据的快捷查询方法——如K线、交易日历、指数成分信息、行业分类信息等。
RemoteDataService可以通过jaqs官方提供的免费数据源直接从网络获取行情数据和参考数据，需要提前去官网注册账号,方可使用。

* 如需注册账号-[官方网站](https://www.quantos.org/)
* 如需直接使用底层dataapi访问数据-
[jaqs底层dataapi文档-官方](http://jaqs.readthedocs.io/zh_CN/latest/user_guide.html#api)

## 准备工作


*** 步骤: ***

- 1.配置数据下载的tcp地址(data_config)--使用jaqs官方提供的免费数据源需要提前去官网注册账号,方可使用
- 2.引入模块并实例化、初始化RemoteDataService

In [3]:
from jaqs_fxdayu.data import RemoteDataService # 远程数据服务类

# step 1 其中，username password分别对应官网注册的账号和序列号
data_config = {
"remote.data.address": "tcp://data.quantOS.org:8910", # 数据服务tcp地址
"remote.data.username": "18566262672",# 账号
"remote.data.password": "eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MTI3MDI3NTAyMTIiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTg1NjYyNjI2NzIifQ.O_-yR0zYagrLRvPbggnru1Rapk4kiyAzcwYt2a3vlpM",
"timeout":180 #超时设置(秒),请求超时会报错
}

# step 2
ds = RemoteDataService()
ds.init_from_config(data_config)

Begin: DataApi login 18566262672@tcp://data.quantOS.org:8910
    login success

'0,'

## daily
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.daily(symbol, start_date, end_date, fields="", adjust_mode=None) `

**简要描述：**

- 获取日线行情

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|symbol|是 |string|标的代码，多标的以','隔开，如'000001.SH,600300.SH'|
|start_date |是 |int/str |开始时间 YYYMMDD or 'YYYY-MM-DD'|
|end_date |是 |int/str |结束时间 YYYMMDD or 'YYYY-MM-DD'|
|fields |否 | str |字段 以 ','隔开, 默认 "" (包含所有字段)|
|adjust_mode |否 | str or None |复权方式 None:不复权; 'post':后复权,默认不复权|


** 返回：**

df : pd.DataFrame
   
   columns:
        
        symbol, code, trade_date, open, high, low, close, volume, turnover, vwap, oi, suspended
   
   具体字段含义见quote()方法-返回字段说明

err_msg : str
    error code and error message joined by comma
    
    
**示例：**

In [4]:
df,msg = ds.daily("000001.SH",start_date="2014-01-01",end_date=20150101, adjust_mode="post")
df.head()

,close,code,freq,high,low,oi,open,preclose,presettle,settle,symbol,trade_date,trade_status,turnover,volume,vwap
0,2109.387,000001,1d,2113.110,2101.016,NaN,2112.126,2115.978,NaN,NaN,000001.SH,20140102,交易,6.192135e+10,6.848549e+09,0.0
1,2083.136,000001,1d,2102.167,2075.899,NaN,2101.542,2109.387,NaN,NaN,000001.SH,20140103,交易,7.237223e+10,8.449724e+09,0.0
2,2045.709,000001,1d,2078.684,2034.006,NaN,2078.684,2083.136,NaN,NaN,000001.SH,20140106,交易,7.289539e+10,8.958761e+09,0.0
3,2047.317,000001,1d,2052.279,2029.246,NaN,2034.224,2045.709,NaN,NaN,000001.SH,20140107,交易,5.463864e+10,6.340294e+09,0.0
4,2044.340,000001,1d,2062.952,2037.110,NaN,2047.256,2047.317,NaN,NaN,000001.SH,20140108,交易,6.294143e+10,7.164736e+09,0.0

## bar
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.bar(*args, **kwargs) `

**简要描述：**

- 获取分钟线行情（不含ask，bid信息）

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|symbol|是 |string|标的代码，多标的以','隔开，如'000001.SH,600300.SH'|
|start_time |否 |int (HHMMSS) or str ('HH:MM:SS') |开始时间 默认开盘时间按|
|end_time |否 int (HHMMSS) or str ('HH:MM:SS') |结束时间 默认收盘时间|
|trade_date|是 | int (YYYMMDD) or str ('YYYY-MM-DD') |交易日|
|fields |否 | str |字段 以 ','隔开, 默认 "" (包含所有字段)|
|freq |否 | str（'1M', '5M', '15M'） |分钟bar类型，默认1M(1分钟)|


** 返回：**

df : pd.DataFrame
   
   columns:
        
        symbol, code, date, time, trade_date, freq, open, high, low, close, volume, turnover, vwap, oi
        
   具体字段含义见quote()方法-返回字段说明

err_msg : str
    error code and error message joined by comma
    
    
**示例：**

In [5]:
df,msg = ds.bar("000001.SZ,000002.SZ", trade_date =20180328,  freq="1M")
df.head()

,close,code,date,freq,high,low,oi,open,settle,symbol,time,trade_date,turnover,volume,vwap
0,10.86,000001,20180328,1M,10.86,10.84,NaN,10.85,NaN,000001.SZ,93100,20180328,17128195.0,1579138.0,10.846547
1,10.89,000001,20180328,1M,10.89,10.86,NaN,10.86,NaN,000001.SZ,93200,20180328,10527285.0,968044.0,10.874800
2,10.88,000001,20180328,1M,10.89,10.87,NaN,10.88,NaN,000001.SZ,93300,20180328,9965762.0,916456.0,10.874239
3,10.86,000001,20180328,1M,10.89,10.86,NaN,10.87,NaN,000001.SZ,93400,20180328,7912778.0,728400.0,10.863232
4,10.86,000001,20180328,1M,10.87,10.86,NaN,10.86,NaN,000001.SZ,93500,20180328,3930566.0,361800.0,10.863919

## quote
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.quote(symbol, fields="") `

**简要描述：**

- 查询最新市场行情

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|symbol|是 |string|标的代码，多标的以','隔开，如'000001.SH,600300.SH'|
|fields |否 | str |需要返回字段，多字段以','隔开；为""时返回所有字段|

** 返回：**

df : pd.DataFrame

err_msg : str
    error code and error message joined by comma
    
** 返回字段说明：**

|字段|类型|说明|
|:----    |:---|----- |
|symbol	|string	|标的代码|
|code|tring	|交易所原始代码|
|date	|int	|自然日,YYYYMMDD格式，如20170823|
|time	|int	|时间，精确到毫秒，如14:21:05.330记为142105330|
|trade_date|	int|	YYYYMMDD格式，如20170823|
|open	|double	|开盘价|
|high	|double|	最高价|
|low	|double|	最低价|
|last	|double|	最新价|
|close	|double	|收盘价|
|volume|	double	|成交量（总）|
|turnover	|double|	成交金额（总）|
|vwap	|double	|截止到行情时间的日内成交均价|
|oi	|double	|持仓总量|
|settle	|double	|今结算价|
|iopv	|double|	净值估值|
|limit_up	|double|	涨停价|
|limit_down|	double|	跌停价|
|preclose	|double	|昨收盘价|
|presettle	|double	|昨结算价|
|preoi	|double	|昨持仓|
|askprice1	|double|	申卖价1|
|askprice2	|double|	申卖价2|
|askprice3	|double	|申卖价3|
|askprice4	|double|	申卖价4|
|askprice5	|double	|申卖价5|
|bidprice1	|double	|申买价1|
|bidprice2	|double	|申买价2|
|bidprice3	|double	|申买价3|
|bidprice4	|double|	申买价4|
|bidprice5	|double	|申买价5|
|askvolume1	|double	|申卖量1|
|askvolume2	|double	|申卖量2|
|askvolume3|	double	|申卖量3|
|askvolume4	|double	|申卖量4|
|askvolume5	|double	|申卖量5|
|bidvolume1|double	|申买量1|
|bidvolume2|	double|	申买量2|
|bidvolume3|	double|	申买量3|
|bidvolume4|	double|	申买量4|
|bidvolume5|	double|	申买量5|
    
    
**示例：**

In [6]:
df,msg = ds.quote("000001.SZ,000002.SZ")
df.head()

,ask1_premium,askprice1,askprice10,askprice2,askprice3,askprice4,askprice5,askprice6,askprice7,askprice8,...,preclose,preoi,presettle,settle,symbol,time,trade_date,turnover,volume,vwap
000001.SZ,NaN,8.74,0.0,8.75,8.76,8.77,8.78,0.0,0.0,0.0,...,8.88,0,0.0,0.0,000001.SZ,150003000,20180716,6.034277e+08,68984558,8.747287
000002.SZ,NaN,23.15,0.0,23.16,23.17,23.18,23.19,0.0,0.0,0.0,...,23.72,0,0.0,0.0,000002.SZ,150003000,20180716,9.947463e+08,43069406,23.096355

## bar_quote
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.bar_quote(*args, **kwargs) `

**简要描述：**

- 获取分钟线行情（含最近的quote信息）

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|symbol|是 |string|标的代码，多标的以','隔开，如'000001.SH,600300.SH'|
|start_time |否 |int (HHMMSS) or str ('HH:MM:SS') |开始时间 默认开盘时间按|
|end_time |否 int (HHMMSS) or str ('HH:MM:SS') |结束时间 默认收盘时间|
|trade_date|是 | int (YYYMMDD) or str ('YYYY-MM-DD') |交易日|
|fields |否 | str |字段 以 ','隔开, 默认 "" (包含所有字段)|
|freq |否 | str（'1M', '5M', '15M'） |分钟bar类型，默认1M(1分钟)|


** 返回：**

df : pd.DataFrame
    
    具体字段含义见quote()方法-返回字段说明

err_msg : str
    error code and error message joined by comma
    
    
**示例：**

In [7]:
df,msg = ds.bar_quote("000001.SZ,000002.SZ", trade_date =20180328,  freq="1M")
df.head()

,askprice1,askprice2,askprice3,askprice4,askprice5,askvolume1,askvolume2,askvolume3,askvolume4,askvolume5,...,open,sell_cancel_volume,sell_volume,settle,symbol,time,trade_date,turnover,volume,vwap
0,10.87,10.88,10.89,10.90,10.91,64900.0,259144.0,14800.0,47100.0,2400.0,...,10.85,0.0,0.0,NaN,000001.SZ,93100,20180328,17128195.0,1579138.0,10.846547
1,10.90,10.91,10.92,10.93,10.94,58900.0,16800.0,194100.0,10020.0,80600.0,...,10.86,0.0,0.0,NaN,000001.SZ,93200,20180328,10527285.0,968044.0,10.874800
2,10.88,10.89,10.90,10.91,10.92,13300.0,46374.0,70500.0,134600.0,195200.0,...,10.88,0.0,0.0,NaN,000001.SZ,93300,20180328,9965762.0,916456.0,10.874239
3,10.86,10.87,10.88,10.89,10.90,27600.0,24200.0,211300.0,86074.0,95500.0,...,10.87,0.0,0.0,NaN,000001.SZ,93400,20180328,7912778.0,728400.0,10.863232
4,10.87,10.88,10.89,10.90,10.91,140600.0,167900.0,85974.0,83300.0,128700.0,...,10.86,0.0,0.0,NaN,000001.SZ,93500,20180328,3930566.0,361800.0,10.863919

## query
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.query(view, filter="", fields="", **kwargs) `

**简要描述：**

- 获取各种参考数据，直接继承自底层dataapi.query 
- 使用方法详见[基础数据获取方法](http://jaqs.readthedocs.io/zh_CN/latest/user_guide.html#id10)

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|view|是 |string|参考数据的api名称,如"jz.instrumentInfo"(证券基础信息),"help.apiList"(帮助列表)|
|filter|否 |string|过滤条件。过滤条件支持两种写法：1)以某个关键字的值作为条件来查询："[字段值]=[某个值]"。多个值以"，"隔开。 2)按关键字范围来查询："start[字段值]=[某个值]&end[字段值]=[某个值]"。多个条件以"&"作为分隔符。例如：filter="symbol=600030.SH,000063.SZ,000001.SZ&report_type=408002000&start_date=20160601&end_date=20170601"|
|fields |否 | str |要查询的字段 以 ','隔开, 默认 ""|



** 返回：**

df : pd.DataFrame

err_msg : str
    error code and error message joined by comma
    
    
**示例：**

## 查询帮助文档

- 目前，可查询到的帮助文档并不完整，如"lb.profitExpress"（业绩快报）,"lb.secRestricted"(限售股解禁表)等api无法查询字段细节。文档还在不断完善中。

In [8]:
df , msg = ds.query(
              view="help.apiList",
              fields="",
              filter="")
df

                       api      comment        name
0          jy.balanceSheet        资产负债表       资产负债表
1              jy.cashFlow        现金流量表       现金流量表
2                jy.income          利润表         利润表
3               jy.qincome        季度利润表       季度利润表
4        jz.instrumentInfo       证券基本信息      证券基础信息
5           jz.secTradeCal         交易日历        交易日历
6          lb.balanceSheet        资产负债表       资产负债表
7              lb.cashFlow        现金流量表       现金流量表
8            lb.dcCoinInfo       数字货币信息      数字货币信息
9               lb.dcDaily      数字货币日行情     数字货币日行情
10       lb.dcExchangeInfo  十大数字货币交易所信息   数字货币交易所信息
11          lb.dcTradeInfo   数字货币交易标的信息  数字货币交易标的信息
12  lb.hkSecDailyIndicator      港股日行情指标     港股日行情指标
13               lb.income          利润表         利润表
14            lb.indexCons        指数成份股       指数成份股
15            lb.indexInfo       指数基本信息      指数基本信息
16         lb.industryType        行业代码表       行业代码表
17       lb.mfDailyPerform     公募基金行情表现    公募基金行情表现
18                lb.mfNav       公募基金净值      公募基金净值
19         lb.secAdjFactor         复权因子        复权因子
20          lb.secArchives         公司概况        公司概况
21    lb.secDailyIndicator       股票每日指标      股票每日指标
22      lb.secDailyPerform       股票行情表现      股票行情表现
23          lb.secDividend         分红送股       分红送股表
24     lb.secFinIndicators       财务数据指标      财务数据指标
25     lb.secFrozenPledger    股东股权冻结和质押   股东股权冻结和质押
26      lb.secHolderNumber         股东户数        股东户数
27      lb.secHoldingStats       股东持股统计      股东持股统计
28          lb.secIEXDaily      美股公司日行情     美股公司日行情
29            lb.secIEXEps   美股公司每股收益指标  美股公司每股收益指标
30       lb.secIEXFinIndex   美股公司财务报表指标  美股公司财务报表指标
31         lb.secIEXSymbol     美股公司股票列表    美股公司股票列表
32          lb.secIndustry       行业分类信息        行业分类
33       lb.secMainHolders         股东名单        股东名单
34    lb.secNewestFinIndex   A股公司最新财务指标  A股公司最新财务指标
35   lb.secNewestShareStru     最新公司股本结构    最新公司股本结构
36              lb.secSusp        停复牌数据         停复牌

## 查询帮助文档细节-可选字段

In [12]:
df ,msg = ds.query(view="help.apiParam",fields="",filter="api=lb.cashFlow") # 查询现金流量表可选字段
df.tail()

,api,comment,dtype,must,param,pname,ptype
118,lb.cashFlow,,Double,N,tot_bal_netcash_inc,现金净增加额差额(合计平衡项目),OUT
119,lb.cashFlow,,Double,N,spe_bal_netcash_equ_undir,间接法-经营活动现金流量净额差额(特殊报表科目),OUT
120,lb.cashFlow,,Double,N,tot_bal_netcash_equ_undir,间接法-经营活动现金流量净额差额(合计平衡项目),OUT
121,lb.cashFlow,,Double,N,spe_bal_netcash_inc_undir,间接法-现金净增加额差额(特殊报表科目),OUT
122,lb.cashFlow,,Double,N,tot_bal_netcash_inc_undir,间接法-现金净增加额差额(合计平衡项目),OUT

## 根据帮助文档细节-可选字段查询具体内容

In [13]:
df, msg = ds.query(
                view="lb.cashFlow",
                fields="fa_fnc_leases",
                filter="symbol=600030.SH,000063.SZ,000001.SZ&report_type=408002000&start_date=20160601&end_date=20170601",
                data_format='pandas')
df

,ann_date,cash_recp_prem_orig_inco,cash_recp_return_invest,cash_recp_sg_and_rs,fa_fnc_leases,incl_dvd_profit_paid_sc_ms,net_cash_flows_inv_act,net_cash_received_reinsu_bus,net_incr_dep_cob,net_incr_disp_tfa,...,net_incr_int_handling_chrg,net_incr_loans_central_bank,other_cash_recp_ral_fnc_act,other_cash_recp_ral_oper_act,recp_tax_rends,report_date,report_type,stot_cash_inflows_oper_act,stot_cash_outflows_oper_act,symbol
0,20160812,0.0,6.851000e+09,0.000000e+00,0.0,0.000000e+00,-2.912000e+10,0.0,3.130000e+09,0.0,...,3.345900e+10,3.802800e+10,0.0,1.553000e+09,0.000000e+00,20160630,408002000,7.374400e+10,1.662100e+11,000001.SZ
1,20161021,0.0,7.687000e+09,0.000000e+00,0.0,0.000000e+00,2.673900e+10,0.0,2.108000e+09,0.0,...,3.308600e+10,-3.047500e+10,0.0,5.779000e+09,0.000000e+00,20160930,408002000,1.936900e+10,1.391130e+11,000001.SZ
2,20170317,0.0,6.222000e+09,0.000000e+00,0.0,0.000000e+00,-5.181000e+09,0.0,1.542100e+11,0.0,...,3.085400e+10,7.585000e+09,0.0,-1.116000e+09,0.000000e+00,20161231,408002000,2.514760e+11,8.754500e+10,000001.SZ
3,20170422,0.0,8.120000e+09,0.000000e+00,0.0,0.000000e+00,-4.720900e+10,0.0,0.000000e+00,0.0,...,3.559700e+10,5.922000e+09,0.0,1.366700e+10,0.000000e+00,20170331,408002000,4.716300e+10,1.621710e+11,000001.SZ
4,20160826,0.0,-3.896400e+07,2.982796e+10,0.0,2.561300e+07,-5.184770e+08,0.0,0.000000e+00,0.0,...,0.000000e+00,0.000000e+00,0.0,8.246570e+08,3.181431e+09,20160630,408002000,3.383405e+10,3.542464e+10,000063.SZ
5,20161028,0.0,5.991480e+08,2.535173e+10,0.0,0.000000e+00,-1.684021e+09,0.0,0.000000e+00,0.0,...,0.000000e+00,0.000000e+00,0.0,8.164560e+08,1.353395e+09,20160930,408002000,2.752158e+10,2.865721e+10,000063.SZ
6,20170324,0.0,3.755800e+07,2.688080e+10,0.0,0.000000e+00,-4.290710e+08,0.0,0.000000e+00,0.0,...,0.000000e+00,0.000000e+00,0.0,1.089501e+09,1.504245e+09,20161231,408002000,2.947455e+10,2.543364e+10,000063.SZ
7,20170418,0.0,3.748800e+07,2.693577e+10,0.0,5.733100e+07,-8.994460e+08,0.0,0.000000e+00,0.0,...,0.000000e+00,0.000000e+00,0.0,4.601030e+08,1.424996e+09,20170331,408002000,2.882086e+10,2.979203e+10,000063.SZ
8,20160825,0.0,1.003506e+07,0.000000e+00,0.0,1.256104e+08,9.026859e+09,0.0,0.000000e+00,0.0,...,8.989932e+09,0.000000e+00,0.0,1.972198e+09,0.000000e+00,20160630,408002000,6.358746e+10,9.064982e+10,600030.SH
9,20161029,0.0,2.193007e+06,0.000000e+00,0.0,4.561776e+07,9.370361e+09,0.0,0.000000e+00,0.0,...,8.457742e+09,0.000000e+00,0.0,1.074041e+10,0.000000e+00,20160930,408002000,-3.589391e+10,-2.131723e+10,600030.SH
10,20170323,0.0,1.809526e+08,0.000000e+00,0.0,-9.404244e+06,3.555107e+09,0.0,0.000000e+00,0.0,...,1.023140e+10,0.000000e+00,0.0,-5.922571e+09,0.000000e+00,20161231,408002000,4.155698e+10,3.480941e+10,600030.SH
11,20170429,0.0,1.998582e+06,0.000000e+00,0.0,0.000000e+00,7.633333e+09,0.0,0.000000e+00,0.0,...,8.510626e+09,0.000000e+00,0.0,1.055551e+10,0.000000e+00,20170331,408002000,-7.895648e+09,3.004603e+10,600030.SH

## query_lb_fin_stat
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.query_lb_fin_stat(*args, **kwargs) `

**简要描述：**

- 获取基本面财务数据

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|type_|是 |string|财务指标类型 'income', 'balance_sheet', 'cash_flow'，'fin_indicator'|
|symbol|是 |string|标的代码，多标的以','隔开，如'000001.SH,600300.SH'|
|start_date |是 |int |开始时间 YYYMMDD|
|end_date |是 |int |结束时间 YYYMMDD|
|fields |否 | str |字段 以 ','隔开, 默认 "" |
|drop_dup_cols |否 | list or tuple |是否删除重复的输入|
|report_type |否 | string |财报类型。财报类型共有以下几类：'408001000':合并报表；'408002000':合并报表（单季度）；'408003000':合并报表（单季度调整）；'408004000':合并报表（调整）；'408005000':合并报表（更正前）；'408006000':母公司报表；'408007000':母公司报表（单季度）；'408008000':母公司报表（单季度调整）；'408009000':母公司报表（调整）；'408010000':母公司报表（更正前）。 默认为'408001000':合并报表|

** 返回：**

df : pd.DataFrame

err_msg : str
    error code and error message joined by comma
    
    
**示例：**

In [8]:
df,msg = ds.query_lb_fin_stat(type_='cash_flow', 
                              symbol="000001.SZ,000002.SZ",
                              start_date=20100101,
                              end_date=20120101, 
                              fields="conv_corp_bonds_due_within_1y")
df.head()

,ann_date,cash_recp_prem_orig_inco,cash_recp_return_invest,cash_recp_sg_and_rs,conv_corp_bonds_due_within_1y,incl_dvd_profit_paid_sc_ms,net_cash_flows_inv_act,net_cash_received_reinsu_bus,net_incr_dep_cob,net_incr_disp_tfa,...,net_incr_int_handling_chrg,net_incr_loans_central_bank,other_cash_recp_ral_fnc_act,other_cash_recp_ral_oper_act,recp_tax_rends,report_date,report_type,stot_cash_inflows_oper_act,stot_cash_outflows_oper_act,symbol
0,20100312,0.0,2.490274e+09,0.0,0.0,0.0,-1.564121e+10,0.0,1.321978e+11,0.0,...,2.071380e+10,0.000000e+00,0.0,1.459726e+09,0.0,20091231,408001000,1.577535e+11,1.255598e+11,000001.SZ
1,20100825,0.0,1.426558e+09,0.0,0.0,0.0,-1.838394e+09,0.0,2.535334e+10,0.0,...,1.146239e+10,1.203900e+09,0.0,1.991992e+09,0.0,20100630,408001000,4.052371e+10,4.355715e+10,000001.SZ
2,20110225,0.0,3.275000e+09,0.0,0.0,0.0,-1.466054e+10,0.0,1.165075e+11,0.0,...,2.120694e+10,2.218199e+09,0.0,3.069659e+09,0.0,20101231,408001000,1.486299e+11,1.268836e+11,000001.SZ
3,20111026,0.0,3.411571e+09,0.0,0.0,0.0,-3.427133e+10,0.0,1.152976e+11,0.0,...,2.676739e+10,0.000000e+00,0.0,1.981977e+09,0.0,20110930,408001000,2.234589e+11,2.055972e+11,000001.SZ
4,20100429,0.0,3.056250e+08,0.0,0.0,0.0,-6.750866e+09,0.0,2.956215e+10,0.0,...,5.525798e+09,0.000000e+00,0.0,1.514769e+09,0.0,20100331,408001000,3.956118e+10,3.095155e+10,000001.SZ

## query_lb_dailyindicator
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.query_lb_dailyindicator(symbol, start_date, end_date, fields="") `

**简要描述：**

- 获取日行情估值数据

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|symbol|是 |string|标的代码，多标的以','隔开，如'000001.SH,600300.SH'|
|start_date |是 |int |开始时间 YYYMMDD|
|end_date |是 |int |结束时间 YYYMMDD|
|fields |是| str |字段 以 ','隔开|


- fields为必须参数,可选字段可通过ds.query(view="help.apiParam",fields="",filter="api=lb.secDailyIndicator") 查询详细释义

** 返回：**

df : pd.DataFrame

err_msg : str
    error code and error message joined by comma
    
    
**示例：**

In [14]:
df ,msg = ds.query(view="help.apiParam",fields="",filter="api=lb.secDailyIndicator") # 查询现金流量表可选字段
df

,api,comment,dtype,must,param,pname,ptype
0,lb.secDailyIndicator,,String,N,symbol,证券代码,IN
1,lb.secDailyIndicator,,String,N,start_date,公告开始日期,IN
2,lb.secDailyIndicator,,String,N,end_date,公告结束日期,IN
3,lb.secDailyIndicator,,Double,N,ncf_oper_ttm,经营活动产生的现金流量净额(TTM),OUT
4,lb.secDailyIndicator,,Double,N,ncf_oper_lyr,经营活动产生的现金流量净额(LYR),OUT
5,lb.secDailyIndicator,,Double,N,oper_rev_ttm,营业收入(TTM),OUT
6,lb.secDailyIndicator,,Double,N,oper_rev_lyr,营业收入(LYR),OUT
7,lb.secDailyIndicator,,Int,N,limit_status,涨跌停状态,OUT
8,lb.secDailyIndicator,,String,Y,symbol,证券代码,OUT
9,lb.secDailyIndicator,,String,N,trade_date,交易日期,OUT
10,lb.secDailyIndicator,,Double,N,total_mv,当日总市值,OUT
11,lb.secDailyIndicator,,Double,N,float_mv,当日流通市值,OUT
12,lb.secDailyIndicator,,Double,N,pe,市盈率,OUT
13,lb.secDailyIndicator,,Double,N,pb,市净率,OUT
14,lb.secDailyIndicator,,Double,N,pe_ttm,市盈率TTM,OUT
15,lb.secDailyIndicator,,Double,N,pcf_ocf,"市现率(PCF,经营现金流)",OUT
16,lb.secDailyIndicator,,Double,N,pcf_ocfttm,"市现率(PCF,经营现金流TTM)",OUT
17,lb.secDailyIndicator,,Double,N,pcf_ncf,"市现率(PCF,现金净流量)",OUT
18,lb.secDailyIndicator,,Double,N,pcf_ncfttm,"市现率(PCF,现金净流量TTM)",OUT
19,lb.secDailyIndicator,,Double,N,ps,市销率(PS),OUT
20,lb.secDailyIndicator,,Double,N,ps_ttm,"市销率(PS,TTM)",OUT
21,lb.secDailyIndicator,,Double,N,turnover_ratio,换手率,OUT
22,lb.secDailyIndicator,,Double,N,free_turnover_ratio,换手率(自由流通股本),OUT
23,lb.secDailyIndicator,,Double,N,total_share,当日总股本,OUT
24,lb.secDailyIndicator,,Double,N,float_share,当日流通股本,OUT
25,lb.secDailyIndicator,,Double,N,close,当日收盘价,OUT
26,lb.secDailyIndicator,,Double,N,price_div_dps,股价/每股派息,OUT
27,lb.secDailyIndicator,,Double,N,free_share,当日自由流通股本,OUT
28,lb.secDailyIndicator,,Double,N,np_parent_comp_ttm,归属母公司净利润(TTM),OUT
29,lb.secDailyIndicator,,Double,N,np_parent_comp_lyr,归属母公司净利润(LYR),OUT
30,lb.secDailyIndicator,,Double,N,net_assets,当日净资产,OUT

In [9]:
df,msg = ds.query_lb_dailyindicator(
                              symbol="000001.SZ,000002.SZ",
                              start_date=20100101,
                              end_date=20120101, 
                              fields="pb,pe,ps,pcf_ocf,float_mv,total_mv,net_assets,price_div_dps,limit_status")
df.head()

,float_mv,limit_status,net_assets,pb,pcf_ocf,pe,price_div_dps,ps,symbol,total_mv
0,7.126066e+06,0,1.908844e+10,3.9647,3.1089,123.2494,0.0,5.2146,000001.SZ,7.567942e+06
1,7.126066e+06,0,1.908844e+10,3.9647,3.1089,123.2494,0.0,5.2146,000001.SZ,7.567942e+06
2,7.126066e+06,0,1.908844e+10,3.9647,3.1089,123.2494,0.0,5.2146,000001.SZ,7.567942e+06
3,6.933075e+06,0,1.908844e+10,3.8573,3.0247,119.9115,0.0,5.0733,000001.SZ,7.362983e+06
4,6.813186e+06,0,1.908844e+10,3.7906,2.9724,117.8379,0.0,4.9856,000001.SZ,7.235661e+06

## query_index_weights_raw
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.query_index_weights_raw(index, trade_date) `

**简要描述：**

- 获取指数某一天的成分股和对应权重

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|index|是 |string|指数代码,只支持单标的|
|trade_date |是 |int |交易日|



** 返回：**

df : pd.DataFrame
    
**示例：**

In [10]:
df = ds.query_index_weights_raw('000300.SH',trade_date = 20180328)
df.head()

          index_code  trade_date    weight
symbol
000001.SZ  399300.SZ    20180301  0.008772
000002.SZ  399300.SZ    20180301  0.013372
000008.SZ  399300.SZ    20180301  0.001079
000060.SZ  399300.SZ    20180301  0.001433
000063.SZ  399300.SZ    20180301  0.006531

## query_index_weights_daily
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.query_index_weights_daily(index, start_date, end_date) `

**简要描述：**

- 获取指数某段时期内左右的成分股权重

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|index|是 |string|指数代码,只支持单标的|
|start_date |是 |int |开始时间 YYMMDD|
|end_date |是 |int |结束时间 YYMMDD|



** 返回：**

df : pd.DataFrame
    
**示例：**

In [11]:
df = ds.query_index_weights_daily('000300.SH',start_date=20171231,end_date= 20180328)
df.head()

symbol,000001.SZ,000002.SZ,000008.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000157.SZ,000166.SZ,000333.SZ,...,601989.SH,601991.SH,601992.SH,601997.SH,601998.SH,603160.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180102,0.009884,0.013303,0.001246,0.001579,0.007143,0.002455,0.002664,0.001669,0.00272,0.021523,...,0.004842,0.001056,0.001567,0.001581,0.001628,0.000375,0.002016,0.000429,0.000323,0.001545
20180103,0.009884,0.013303,0.001246,0.001579,0.007143,0.002455,0.002664,0.001669,0.00272,0.021523,...,0.004842,0.001056,0.001567,0.001581,0.001628,0.000375,0.002016,0.000429,0.000323,0.001545
20180104,0.009884,0.013303,0.001246,0.001579,0.007143,0.002455,0.002664,0.001669,0.00272,0.021523,...,0.004842,0.001056,0.001567,0.001581,0.001628,0.000375,0.002016,0.000429,0.000323,0.001545
20180105,0.009884,0.013303,0.001246,0.001579,0.007143,0.002455,0.002664,0.001669,0.00272,0.021523,...,0.004842,0.001056,0.001567,0.001581,0.001628,0.000375,0.002016,0.000429,0.000323,0.001545
20180108,0.009884,0.013303,0.001246,0.001579,0.007143,0.002455,0.002664,0.001669,0.00272,0.021523,...,0.004842,0.001056,0.001567,0.001581,0.001628,0.000375,0.002016,0.000429,0.000323,0.001545

## query_index_member
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.query_index_member(index, start_date, end_date) `

**简要描述：**

- 获取指数某段时间内的成分股代码

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|index|是 |string|指数代码,只支持单标的|
|start_date |是 |int |开始时间 YYMMDD|
|end_date |是 |int |结束时间 YYMMDD|


** 返回：**

list
    
**示例：**

In [12]:
df = ds.query_index_member('000300.SH',start_date=20171231,end_date= 20180328)
df[:5]

['000001.SZ', '000002.SZ', '000008.SZ', '000060.SZ', '000063.SZ']

## query_index_member_daily
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.query_index_member_daily(index, start_date, end_date) `

**简要描述：**

- 获取指数某段时间内的成分股及具体某天该成分股是否在其中

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|index|是 |string|指数代码,只支持单标的|
|start_date |是 |int |开始时间 YYMMDD|
|end_date |是 |int |结束时间 YYMMDD|


** 返回：**

 df : pd.DataFrame
    
        index dates, columns all securities that have ever been components,
        values are 0 (not in) or 1 (in)
    
**示例：**

In [13]:
df = ds.query_index_member_daily('000300.SH',start_date=20171231,end_date= 20180328)
df.head()

,000001.SZ,000002.SZ,000008.SZ,000060.SZ,000063.SZ,000069.SZ,000100.SZ,000157.SZ,000166.SZ,000333.SZ,...,601989.SH,601991.SH,601992.SH,601997.SH,601998.SH,603160.SH,603799.SH,603833.SH,603858.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20180102,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
20180103,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
20180104,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
20180105,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
20180108,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

## query_industry_daily
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.query_industry_daily(symbol, start_date, end_date, type_='SW', level=1) `

**简要描述：**

- 指定一系列股票，获取它们在某段时间的行业分类代码

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|symbol|是 |string|标的代码，多标的以','隔开，如'000001.SZ,000002.SZ'|
|start_date |是 |int |开始时间 YYYMMDD|
|end_date |是 |int |结束时间 YYYMMDD|
|type_ |否|string| 行业分类标准 目前支持"SW"（申万）,"ZZ"（中证）,"ZJH"（证监会），默认"SW"|
|level |否|int| 行业等级 默认1|


** 返回：**

 df : pd.DataFrame
    
        index dates, columns symbols
        values are industry code
    
**示例：**

In [15]:
df = ds.query_industry_daily('000001.SZ,000002.SZ',start_date=20171231,end_date= 20180328,
                            type_="ZJH",level=2)
df.head()

         000001.SZ 000002.SZ
20180102    货币金融服务      房地产业
20180103    货币金融服务      房地产业
20180104    货币金融服务      房地产业
20180105    货币金融服务      房地产业
20180108    货币金融服务      房地产业

## query_industry_raw
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.query_industry_raw(symbol, type_='SW', level=1) `

**简要描述：**

- 指定一系列股票，获取它们的行业分类代码

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|symbol|是 |string|标的代码，多标的以','隔开，如'000001.SZ,000002.SZ'|
|type_ |否|string| 行业分类标准 目前支持"SW"（申万）,"ZZ"（中证）,"ZJH"（证监会），默认"SW"|
|level |否|int| 行业等级 默认1|


** 返回：**

 df : pd.DataFrame
    
    
**示例：**

In [15]:
df = ds.query_industry_raw('000001.SZ,000002.SZ',
                            type_="ZJH",level=2)
df

,in_date,industry1_code,industry1_name,industry2_code,industry2_name,industry3_code,industry3_name,industry4_code,industry4_name,industry_src,out_date,symbol
0,20121231,J,金融业,J66,货币金融服务,,,,,zjh,,000001.SZ
1,20121231,K,房地产业,K70,房地产业,,,,,zjh,,000002.SZ

## query_adj_factor_daily
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.query_adj_factor_daily(symbol, start_date, end_date, div=False) `

**简要描述：**

- 查询股票复权因子

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|symbol|是 |string|标的代码，多标的以','隔开，如'000001.SZ,000002.SZ'|
|start_date |是 |int |开始时间 YYYMMDD|
|end_date |是 |int |结束时间 YYYMMDD|
|div|否|bool|是否返回相对前一日复权因子的比值，默认False(原复权因子)|



** 返回：**

 df : pd.DataFrame

In [16]:
df = ds.query_adj_factor_daily('000001.SZ,000002.SZ',
                               start_date=20150101,end_date=20160101,
                               div=False)
df.head()

          000001.SZ  000002.SZ
20150105    68.1803    114.776
20150106    68.1803    114.776
20150107    68.1803    114.776
20150108    68.1803    114.776
20150109    68.1803    114.776

## query_dividend
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.query_dividend(symbol, start_date, end_date) `

**简要描述：**

- 查询分红送股信息

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|symbol|是 |string|标的代码，多标的以','隔开，如'000001.SZ,000002.SZ'|
|start_date |是 |int |开始时间 YYYMMDD|
|end_date |是 |int |结束时间 YYYMMDD|


** 返回：**

df : pd.DataFrame

err_msg : str
    error code and error message joined by comma

In [17]:
df,msg = ds.query_dividend('000001.SZ,000002.SZ',
                           start_date=20150101,end_date=20160101)
df.head()

,ann_date,bonus_list_date,cash,cash_tax,cashpay_date,div_enddate,exdiv_date,publish_date,record_date,share_ratio,share_trans_ratio,symbol
0,20150313,20150413,0.174,0.1653,20150413,20141231,20150413,20150407,20150410,0.0,0.2,000001.SZ
1,20150331,,0.500,0.4750,20150721,20141231,20150721,20150714,20150720,0.0,0.0,000002.SZ

## query_inst_info
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.query_inst_info(symbol, inst_type="", fields="") `

**简要描述：**

- 查询证券基本信息

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|symbol|是 |string|标的代码，多标的以','隔开，如'000001.SZ,000002.SZ'|
|inst_type |否 |string |证券类型 "1,2,3,4,5,100,101,102,103,104",默认全部|
|fields |是| str |字段 以 ','隔开，默认""|

inst_type具体类型如下:

|类型编号（inst_type）|类型|
|:----    |---|
|1	|股票|
|10|回购|
|100|指数|
|101|股指期货|
|102|国债期货|
|103|商品期货|
|104|现货递延|
|105|SPREAD价差|
|11|国债|
|12|地方政府债|
|13	|金融债|
|14|企业债|
|15|公司债|
|16|资产支持证券|
|17|可交换债|
|18|可分离转债存债|
|19	|政府支持机构债|
|2|封闭式基金|
|20|转股换股|
|201|股指ETF期权|
|202|股指期货期权|
|203|商品期货期权|
|3	|LOF基金|
|4|ETF基金|
|5|分级基金|
|6|国债商品|
|7	|商品|
|8|可转债|
|9|BASKET|


** 返回：**

df : pd.DataFrame

err_msg : str
    error code and error message joined by comma

In [18]:
fields = "buylot,delist_date,inst_type,list_date,multiplier,name,pricetick,product,market"
df = ds.query_inst_info('000001.SZ,000002.SZ,000001.SH', inst_type="", fields=fields)
df

,buylot,delist_date,inst_type,list_date,market,multiplier,name,pricetick,product
symbol,,,,,,,,,
000001.SH,100,99999999,100,0,SH,1,上证指数,0.01,
000001.SZ,100,99999999,1,19910403,SZ,1,平安银行,0.01,
000002.SZ,100,99999999,1,19910129,SZ,1,万 科Ａ,0.01,

## query_trade_dates
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.query_trade_dates(start_date, end_date) `

**简要描述：**

- 某段时间范围内的交易日

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|start_date |是 |int |开始时间 YYYMMDD|
|end_date |是 |int |结束时间 YYYMMDD|


** 返回：**

trade_dates_arr : np.ndarray
           
           dtype = int

In [19]:
ds.query_trade_dates(20170101,20170501)

array([20170103, 20170104, 20170105, 20170106, 20170109, 20170110,
       20170111, 20170112, 20170113, 20170116, 20170117, 20170118,
       20170119, 20170120, 20170123, 20170124, 20170125, 20170126,
       20170203, 20170206, 20170207, 20170208, 20170209, 20170210,
       20170213, 20170214, 20170215, 20170216, 20170217, 20170220,
       20170221, 20170222, 20170223, 20170224, 20170227, 20170228,
       20170301, 20170302, 20170303, 20170306, 20170307, 20170308,
       20170309, 20170310, 20170313, 20170314, 20170315, 20170316,
       20170317, 20170320, 20170321, 20170322, 20170323, 20170324,
       20170327, 20170328, 20170329, 20170330, 20170331, 20170405,
       20170406, 20170407, 20170410, 20170411, 20170412, 20170413,
       20170414, 20170417, 20170418, 20170419, 20170420, 20170421,
       20170424, 20170425, 20170426, 20170427, 20170428])

## query_last_trade_date
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.query_last_trade_date(date) `

**简要描述：**

- 离某天最近的上一个交易日

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|date |是 |int | |


** 返回：**

int 最近的上一个交易日

In [20]:
ds.query_last_trade_date(20170508)

20170505

## query_next_trade_date
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.query_next_trade_date(date, n=1) `

**简要描述：**

- 离某天最近的下n个交易日

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|date |是 |int | |
|n |否 |int |下n个交易日 默认为1|


** 返回：**

int 最近的下n个交易日

In [21]:
ds.query_next_trade_date(20170508,n=1)

20170509

## is_trade_date
- ` jaqs_fxdayu.data.dataservice.RemoteDataService.is_trade_date(date) `

**简要描述：**

- 某天是否是交易日

**参数：**

|参数名|必选|类型|说明|
|:----    |:---|:----- |-----   |
|date |是 |int | 日期|


** 返回：**

bool

In [22]:
ds.is_trade_date(20170508)

True